<div class="container">

  <mat-toolbar class="mb-3 shadow-sm">
    <span>Products</span>
    <span class="toolbar-spacer"></span>
    <span>
      <button mat-raised-button class="add-button" color="primary" (click)="openAddNewProductTemplate()">
        <mat-icon>add</mat-icon> Add New Product
      </button>
    </span>
  </mat-toolbar>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z0">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Product </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="shelf">
      <th mat-header-cell *matHeaderCellDef> Shelf </th>
      <td mat-cell *matCellDef="let element"> {{element.shelf}} </td>
    </ng-container>

    <ng-container matColumnDef="section">
      <th mat-header-cell *matHeaderCellDef> Section </th>
      <td mat-cell *matCellDef="let element"> {{element.section}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let row">
        <button mat-button color="primary">Manage</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</div>

<ng-template #newProductTemplate>
  <mat-card style="width: 600px">
    <mat-card-header>
      <mat-card-title>
        <h2>New Product</h2>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="productForm">
        <div class="row">
          <div class="col-6">
            <div class="row">
              <div class="col-12">
                <mat-form-field>
                  <input matInput placeholder="Product Name" formControlName="name">
                </mat-form-field>
              </div>
              <div class="col-12">
                <mat-form-field>
                  <input matInput placeholder="Shelf" formControlName="shelf">
                </mat-form-field>
              </div>
              <div class="col-12">
                <mat-form-field>
                  <input matInput placeholder="Section" formControlName="section">
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-12">
                <input #imagesInput class="d-none" type="file" (change)="onFileSelected($event)" multiple accept="image/*">
                <button mat-raised-button color="primary" (click)="imagesInput.click()">Upload Product Images</button>
              </div>
              <div class="col-12 mt-3 mb-3">
                <div class="thumbnails">
                  <div class="thumbnail" *ngFor="let image of images; let i = index">
                    <img [src]="image">
                    <div class="remove-icon" (click)="removeImage(i)">X</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="align-right">
              <button mat-raised-button color="primary" (click)="saveProduct()">Save</button>
            </div>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</ng-template>
