<div class="container">

  <mat-grid-list cols="5">

    <mat-grid-tile>
      <mat-card class="container-95-height">
        <mat-card-content>
          <button mat-fab class="add-button">
            +
          </button>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class="container-95-height">
        <mat-card-content>
          <h3>Camera 1</h3>
          <table class="w-100">
            <tr>
              <td>IP:</td>
              <td>100.23.14.2</td>
            </tr>
            <tr>
              <td>Status:</td>
              <td>OK</td>
            </tr>
            <tr>
              <td>Shelf:</td>
              <td>13</td>
            </tr>
            <tr>
              <td>Section:</td>
              <td>A</td>
            </tr>
          </table>
          <button mat-button>
            View Feed
          </button>
          <button mat-button>
            Reset
          </button>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>

</div>
