<div>

  <mat-toolbar class="mb-3 shadow-sm">
    <span>Shelf Images</span>
  </mat-toolbar>

  <table mat-table [dataSource]="shelfImages" class="mat-elevation-z0">

    <ng-container matColumnDef="systemId">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let shelfImage"> {{shelfImage.systemId}} </td>
    </ng-container>

    <ng-container matColumnDef="captureDate">
      <th mat-header-cell *matHeaderCellDef> Capture Date </th>
      <td mat-cell *matCellDef="let shelfImage"> {{shelfImage.captureDate | date:'short'}} </td>
    </ng-container>

    <ng-container matColumnDef="referencedCameraSystemId">
      <th mat-header-cell *matHeaderCellDef> Referenced Camera </th>
      <td mat-cell *matCellDef="let shelfImage">
        <button *ngIf="shelfImage.referencedCamera" (click)="openCameraConsole(shelfImage.referencedCamera.systemId)"
                mat-stroked-button color="primary">Camera Console</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let shelfImage">
        <button mat-stroked-button color="accent"
                (click)="openEditImageProducts(shelfImage.systemId)">Edit Products</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

</div>
