<mat-toolbar>
  <span>Shelf Monitoring System</span>
  <span class="toolbar-spacer"></span>
  <span>Welcome, Mamoun</span>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <a mat-list-item routerLink="/notifications">Notifications</a>
      <a mat-list-item routerLink="/cameras">Cameras</a>
      <a mat-list-item routerLink="/">Products Catalog</a>
      <a mat-list-item routerLink="/">Model Management</a>
      <a mat-list-item routerLink="/">Employees Management</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="p-3">
    <mat-card>
      <mat-card-content>
        <router-outlet></router-outlet>
      </mat-card-content>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>
