
<div class="row">
  <div class="col-6">
    <div class="row">
      <div class="col-12" [ngClass]="editable? '': 'non-editable'">
        <img #refImage style="max-width: 100%" alt=""
             (loaded)="initializeAnnotorious()"
             [src]="shelfImageService.getImageLink('shelfImages',
         this.shelfImage?.systemId!, this.shelfImage?.imageFileName!)">
      </div>
      <div class="col-12" *ngIf="newProductReferences.length > 0">
        <h2>New/Updated Product References</h2>
        <table mat-table [dataSource]="newProductReferences" class="mat-elevation-z0 tight-table">

          <ng-container matColumnDef="systemId">
            <th mat-header-cell *matHeaderCellDef> System ID </th>
            <td mat-cell *matCellDef="let productReference"
                [ngStyle]="styleTableRow(productReference)">
              {{productReference.systemId < 0? 'New' : productReference.systemId}}
            </td>
          </ng-container>

          <ng-container matColumnDef="product">
            <th mat-header-cell *matHeaderCellDef> Product </th>
            <td mat-cell *matCellDef="let productReference"
                [ngStyle]="styleTableRow(productReference)">
              {{productReference.product? productReference.product?.name : '-'}}
            </td>
          </ng-container>

          <ng-container matColumnDef="x1">
            <th mat-header-cell *matHeaderCellDef> X1 </th>
            <td mat-cell *matCellDef="let productReference"
                [ngStyle]="styleTableRow(productReference)"> {{productReference.x1}} </td>
          </ng-container>

          <ng-container matColumnDef="y1">
            <th mat-header-cell *matHeaderCellDef> Y1 </th>
            <td mat-cell *matCellDef="let productReference"
                [ngStyle]="styleTableRow(productReference)"> {{productReference.y1}} </td>
          </ng-container>

          <ng-container matColumnDef="x2">
            <th mat-header-cell *matHeaderCellDef> X2 </th>
            <td mat-cell *matCellDef="let productReference"
                [ngStyle]="styleTableRow(productReference)"> {{productReference.x2}} </td>
          </ng-container>

          <ng-container matColumnDef="y2">
            <th mat-header-cell *matHeaderCellDef> Y2 </th>
            <td mat-cell *matCellDef="let productReference"
                [ngStyle]="styleTableRow(productReference)"> {{productReference.y2}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
      </div>
      <div class="col-12" *ngIf="deletedProductReferences.length > 0">
        <h2>Deleted Product References</h2>
        <table mat-table [dataSource]="deletedProductReferences" class="mat-elevation-z0 tight-table">

          <ng-container matColumnDef="systemId">
            <th mat-header-cell *matHeaderCellDef> System ID </th>
            <td mat-cell *matCellDef="let productReference"
                [ngStyle]="styleTableRow(productReference)">
              {{productReference.systemId < 0? 'New' : productReference.systemId}}
            </td>
          </ng-container>

          <ng-container matColumnDef="product">
            <th mat-header-cell *matHeaderCellDef> Product </th>
            <td mat-cell *matCellDef="let productReference"
                [ngStyle]="styleTableRow(productReference)">
              {{productReference.product? productReference.product?.name : '-'}}
            </td>
          </ng-container>

          <ng-container matColumnDef="x1">
            <th mat-header-cell *matHeaderCellDef> X1 </th>
            <td mat-cell *matCellDef="let productReference"
                [ngStyle]="styleTableRow(productReference)"> {{productReference.x1}} </td>
          </ng-container>

          <ng-container matColumnDef="y1">
            <th mat-header-cell *matHeaderCellDef> Y1 </th>
            <td mat-cell *matCellDef="let productReference"
                [ngStyle]="styleTableRow(productReference)"> {{productReference.y1}} </td>
          </ng-container>

          <ng-container matColumnDef="x2">
            <th mat-header-cell *matHeaderCellDef> X2 </th>
            <td mat-cell *matCellDef="let productReference"
                [ngStyle]="styleTableRow(productReference)"> {{productReference.x2}} </td>
          </ng-container>

          <ng-container matColumnDef="y2">
            <th mat-header-cell *matHeaderCellDef> Y2 </th>
            <td mat-cell *matCellDef="let productReference"
                [ngStyle]="styleTableRow(productReference)"> {{productReference.y2}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="row">
      <div class="col-12" *ngIf="editable && selectedProductReference && selectedProductReference.systemId != 0">
        <h2>Product Details</h2>
        <mat-form-field>
          <mat-label>Product</mat-label>
          <input #productInput
                 type="text"
                 placeholder="-"
                 matInput
                 [formControl]="productSelectionControl"
                 [matAutocomplete]="auto"
                 (input)="filterProducts()"
                 (focus)="filterProducts()">
          <mat-autocomplete requireSelection #auto="matAutocomplete" [displayWith]="displayProduct">
            <mat-option [value]="undefined"> - </mat-option>
            <mat-option *ngFor="let product of filteredProductsList" [value]="product">
              {{product.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <button mat-raised-button (click)="setProduct()"
                class="add-button ms-3 mb-3" color="primary">
          Set
        </button>
      </div>
      <div class="col-12">
        <h2>Product References</h2>
        <table mat-table [dataSource]="productReferences" class="mat-elevation-z0 tight-table">

          <ng-container matColumnDef="systemId">
            <th mat-header-cell *matHeaderCellDef> System ID </th>
            <td mat-cell *matCellDef="let productReference"
                [ngStyle]="styleTableRow(productReference)">
              {{productReference.systemId < 0? 'New' : productReference.systemId}}
            </td>
          </ng-container>

          <ng-container matColumnDef="product">
            <th mat-header-cell *matHeaderCellDef> Product </th>
            <td mat-cell *matCellDef="let productReference"
                [ngStyle]="styleTableRow(productReference)">
              {{productReference.product? productReference.product?.name : '-'}}
            </td>
          </ng-container>

          <ng-container matColumnDef="x1">
            <th mat-header-cell *matHeaderCellDef> X1 </th>
            <td mat-cell *matCellDef="let productReference"
                [ngStyle]="styleTableRow(productReference)"> {{productReference.x1}} </td>
          </ng-container>

          <ng-container matColumnDef="y1">
            <th mat-header-cell *matHeaderCellDef> Y1 </th>
            <td mat-cell *matCellDef="let productReference"
                [ngStyle]="styleTableRow(productReference)"> {{productReference.y1}} </td>
          </ng-container>

          <ng-container matColumnDef="x2">
            <th mat-header-cell *matHeaderCellDef> X2 </th>
            <td mat-cell *matCellDef="let productReference"
                [ngStyle]="styleTableRow(productReference)"> {{productReference.x2}} </td>
          </ng-container>

          <ng-container matColumnDef="y2">
            <th mat-header-cell *matHeaderCellDef> Y2 </th>
            <td mat-cell *matCellDef="let productReference"
                [ngStyle]="styleTableRow(productReference)"> {{productReference.y2}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
      </div>
    </div>

  </div>
</div>
