
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}

.align-right {
  text-align: right;
}

* {
  box-sizing: border-box;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

mat-sidenav-container {
  height: 100%;
  width: 100%;
}

.container-full-height {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-95-height {
  height: 95%;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.align-right-bottom {
  display: flex;
  justify-content: flex-end; /* Align horizontally to the right */
  align-items: flex-end; /* Align vertically to the bottom */
  height: 100%; /* Ensure the div takes up full height to allow bottom alignment */
}

